@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
  }
  

body {
    margin: auto 0;
    padding: 0px;
    text-align: center;
}

nav > a {
    background-color: #1d414a;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 4px;
    
}

nav > a:hover {
    background-color: orangered;
}

nav > a:active {
    transform: translateY(3px);
}

header {
    background-image: url("imgs/header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.middletext, .submiddletext {
    color: #1d414a;
}

button.headerbtn {
    background-color: #1d414a;
    color:white;
    letter-spacing: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}

button.headerbtn:hover {
    background-color: orangered;
    transition: 300ms ease;
    cursor: pointer;
}

button.headerbtn:active {
    transform: translateY(3px);
    transition: 0ms ease !important;
}

.koyurenk1 {
    background-color:#1d414a;
    border-top: 5px solid orangered;
    
}

.koyurenk1:hover {
    background-color:orangered;
    transition:400ms ease;
}

.sectionh1 {
    color:#1d414a;
    
}

.vizyon {
    background-image: url("imgs/vizyon.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hamburger {
    position: fixed;
    cursor: pointer;
    font-size: 10vw;
}

.hamburger:active {
    transform: scale(0.8);
}

#acilirmenu {
    position: fixed;
    left: -100vw;
    z-index: 100;
    transition: 300ms ease;
    background-color: #1d414a;
    height: fit-content;
}

.acilirmenu > a {
    background-color: #1d414a;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    letter-spacing: 4px;
    height: 50px;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    
}

.acilirmenu > a:hover {
    background-color: orangered;
}

.acilirmenu > a:active {
    transform: translateY(3px);
}

#acilirmenu.acikmenu {
    position: fixed;
    left:0vw;
    transition: 300ms ease;
}